<h1>Create a Post</h1>

<% if @post %>
  <% if @post.errors %>
  <div class="errors">
    <h2>Your post has <%= @post.errors.count %> errors</h2>
    <% @post.errors.full_messages.each do |msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>
  </div>
  <% end %>
<% end %>

<form method="post" action="/posts">
  <label for="title">Title</label>
  <input type="text" name="post[title]" id="title"><br>
  <label for="body">Body</label>
  <textarea name="post[body]" id="body" cols="35" rows="20"></textarea><br>

  <label for="post_tags">Tags:</label>
  <input id="post_tags" name="tags"><br>
  <button type="submit" value="Create Post">Create Post</button>
</form>
